# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debugging
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# links
links.csv
images/